body {
font-family: 'Quicksand', sans-serif;
font-size: 20px;
margin: 0 auto; 
}

main{
  min-height: calc(100vh - 140px); 
}
 

.about{  
  padding-top:40px;
  margin: 0 auto;
  width: 70vw;
  text-align: center; 
  line-height:30px;
}

.center{
  margin: 0 auto;
  width: 60vw;
  text-align: center; 
  padding: 20px;
}

nav{
  margin-top: 10px;
  margin-bottom: -40px;
}
/* 
svg {
  fill: pink;
}  */


h1 {
  font-family: 'Playfair Display', serif;
  padding: 10px;
  margin: 0 auto;
}
 
h2 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: capitalize;
}
 
 
fieldset{
  border: none !important;
  padding:none !important;
}
  
.container-fluid {  
  text-align: center;
}

  button.cook{
    background-color: #a2c7f1;
    border: solid #a2c7f1 4px;  
      }
  button.do{
    background-color:#b8aef3 ;
    border: solid #b8aef3 4px;  
    }
  button.kids{
    background-color: #eeeda3;
    border: solid #eeeda3 4px;
    }
  button.watch{
    background-color:#55dcdf ;
    border: solid #55dcdf 4px; 
    }
  button.read{
    background-color:#f8a99f ;
    border: solid #f8a99f 4px; 
    }
  button.listen {
    background-color: #59c89f ;
    border: solid #59c89f 4px; 
    }
  button.grateful{
    background-color: #b1dfe7;
    border: solid #b1dfe7 4px; 
    }
  button.health {
    background-color:#df9cec ;
    border: solid #df9cec 4px; 
    }
  button.donate{
    background-color: #9ee7a8;
    border: solid #9ee7a8 4px; 
    }
    

.flex-item{  
  display: inline-block;
  margin: 7px; 
  text-align: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 0; 
  /* background-color: #5CBCFF; */
}

.fields{ 
  text-align: center;
  display: block;
  border: 0px; 
  /* background-color: #5CBCFF;  */
}

.flex-item:hover {
    transform: scale(1.10);
}

.btn-img{ 
  height:120px;
  width: 120px;
  padding: 10px;
}

.media {
  margin-top: 40px;
}

article{ 
  margin-top: 40px;
  align-content: center;
  margin: 0 auto;
  width: 80vw;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

    .cook{
      border: solid #a2c7f1 4px;  
      }
    .do{
      border: solid #b8aef3 4px;  
    }
    .kids{
      border: solid #eeeda3 4px; 
    }
    .watch{
      border: solid #55dcdf 4px; 
    }
    .read{
      border: solid #f8a99f 4px; 
    }
    .listen {
      border: solid #59c89f 4px; 
    }
    .grateful{
      border: solid #b1dfe7 4px; 
    }
    .health {
      border: solid #df9cec 4px; 
    }
    .donate{
       border: solid #9ee7a8 4px; 
    }
  

    article h6{     
        font-weight: bold;
        text-transform: uppercase;
        width:172px;
        margin-top: -46px; 
        background:white;
        position: absolute;
    }




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

article p, footer p {
  word-break: break-all;
  margin: 0;
}

footer {    
  bottom: 0;
  padding: .5rem;
  background-color: #f5f5f5; 
  text-align: center;  
}

.small{  
  font-size: .7em;
  margin-top: 40px; 
}


@media only screen and (max-width: 575px) {

 
      body{
        line-height: normal; 
      }

      p{
        margin-bottom: 0;
      }

      .navbar{
          padding-left: 0;
      }

      nav {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
        }

      nav a {
        display: inline;
      }

      nav svg {
        height: 40px;
      }

      .brand {
        color: #000;
        font-family: 'Playfair Display', serif; 
        text-align: center; 
        float: right;
        padding-top: 10px;
        margin: 0 auto;
        width: 60vw;
        
      } 

      h1 {
          display: none;
        }

      .center {
        padding:4px;
        width: 95vw;
      }

      .center h4{
        font-size: .9em;
      }

      .about {
        width: 80vw;
        padding: 0px;
        flex-grow: 2;
      }

      .media {
        margin-top: 0px;
        display: block;
      }

      div{
        padding: 0px;
      }

    .flex-item{  
      width: 30vw;
      height: 10vh; 
      margin: 4px auto;
      font-size: .9em;
    }

    .btn-img{
      height:30px;
       width:30px;
       padding: 0;
    }
    
    .fields{
      display: inline;
    }

    .container-fluid{
      padding: 0;
    }

    article {
      padding: 5px;
      width: 95vw;
      overflow: hidden;
      z-index: 0;
    }

    h2, h3, a{
      font-size: .9em;
    }

    h5 {
      font-size: .7em;
    }

    .small{  
      font-size: .5em; 
      margin-top: 20px;
    }
} 

  
@media only screen and (min-width: 577px) and (max-width: 1200px) {

    .container-fluid{
      width: 95vw;
      justify-content: space-evenly;
      margin-bottom: 30px;
    }

    .flex-item{ 
      width: 14vw; 
    }

    article{
      padding: 20px; 
    }

    article h6{
      margin-left: 3px;
      margin-top:-30px;
    }

    .media {
      display: block;
      margin-top: 5px;
    }

    div {
      margin-top: 4px;  
      padding-top: 0;
    }

    .center{
      width: 90vw;
    }
      

    .btn-img{
      width: 80px;
      height: 80px;
    }
  }

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
 
    .btn-img{
      height: 100px;
      width: 100px;
    }

    .flex-item{
      margin: 2px;
    }

}







@-moz-document url-prefix() {
@media only screen and (max-width: 575px) {
 

      body{
        line-height: normal; 
      }

      p{
        margin-bottom: 0;
      }

      .navbar{
          padding-left: 0;
      }

      nav {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
        }

      nav a {
        display: inline;
      }

      nav svg {
        height: 40px;
      }

      .brand {
        color: #000;
        font-family: 'Playfair Display', serif; 
        text-align: center; 
        float: right;
        padding-top: 10px;
        margin: 0 auto;
        width: 60vw;
        
      } 

      h1 {
          display: none;
        }

      .center {
        padding:4px;
        width: 95vw;
      }

      .center h4{
        font-size: .9em;  
      }

      .about {
        padding: 0px;
        flex-grow: 2;
      }

      .media {
        margin-top: 0px;
        display: block;
      }

      div{
        padding: 0px;
      }

    .flex-item{  
      width: 30vw;
      height: 10vh;  
      margin: 4px auto;
      font-size: .9em;
    }

    .btn-img{
      height:30px;
       width:30px;
       padding: 0;
    }
    
    .fields{
      display: inline;
    }

    .container-fluid{
      padding: 0;
    }

    article {
      padding: 0px;
      width: 95vw;
      overflow: hidden;
    }

    h2, h3, a{
      font-size: .8em;
    }

    h5 {
      font-size: .7em;
    }

    .small{  
      font-size: .5em; 
      margin-top: 20px;
    }
} 
}


@-moz-document url-prefix() {
@media only screen and (min-width: 577px) and (max-width: 1200px) {

 

    .container-fluid{
      width: 90vw;
      justify-content: space-evenly;
    }

    .flex-item{ 
      width: 14vw; 
    }

    article{
      padding: 10px; 
    }

    .media {
      display: block;
      margin-top: 5px;
    }

    div {
      margin-top: 4px;  
      padding-top: 0;
    }

    .center{
      width: 90vw;
    }
      

    .btn-img{
      width: 80px;
      height: 80px;
    }
  }
}

@-moz-document url-prefix() {
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
 
    .btn-img{
      height: 100px;
      width: 100px;
    }

    .flex-item{
      margin: 2px;
    }

}
}