{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
        <div class="center">
        <h1>Pandemic Tool Kit</h1> 
        <h4> For those of us stuck in the house, looking for things to do... </h4>
        </div> 


        <div class="flex-container">
        <div class="container-fluid"> 
        <form method="POST" action="{{ url_for('home') }}" >
                <!-- {{ form.hidden_tag() }} -->
                <fieldset class="form-group">

                <button name=cookField type=form.cookField value=cookField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/cooking.svg" />
                        {{ form.cookField(class="fields") }}  
                </button>

                <button name=doField type=form.doField value=doField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/craft.svg" />
                        {{ form.doField(class="fields") }}
                </button>

                <button name=kidsField type=form.kidsField value=kidsField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none  d-sm-none d-md-inline-block" src="/static/img/blocks.svg" />
                        {{ form.kidsField(class="fields") }}
                </button>

                <button name=watchField type=form.watchField value=watchField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/play.svg" />
                        {{ form.watchField(class="fields") }}
                </button>

                <button name=readField type=form.readField value=readField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/read.svg" />
                        {{ form.readField(class="fields") }}
                </button>

                <button name=listenField type=form.listenField value=listenField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/listen.svg" />
                        {{ form.listenField(class="fields") }}
                </button>

                <button name=gratefulField type=form.gratefulield value=gratefulield class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/hand-heart.svg" />
                        {{ form.gratefulField(class="fields") }}
                </button>

                <button name=healthField type=form.healthField value=healthField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/sun.svg" />
                        {{ form.healthField(class="fields") }}
                </button>

                <button name=donateField type=form.donateField value=donateField class="form-group btn-outline flex-item">
                        <img class="btn-img d-none d-sm-none d-md-inline-block" src="/static/img/donate2.svg" />
                        {{ form.donateField(class="fields") }}
                </button>
                </fieldset>
        </form>
        </div> 

        {% if request.method == "GET" %}
        <div class="about">
                <h3>This is a repository of over 400 things to do, watch, read, think, and listen to during this unique time.
                        Listeners of the <a target="_blank" href="https://www.wnycstudios.org/podcasts/deathsexmoney">
                        Death Sex & Money podcast</a> shared these
                        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1npe706TWTCzg9LzP_Jydso_w5rRbCxbwDQp-bUaB44E/">ideas
                        </a> last week on how to pass the time, how to cope,
                        and how to help others as we learn to practice social distancing.
                        We hope you can find something on here that will feel like a fresh comfort, maybe even add a little
                        novelty to your weekend. 

                </h3>
        </div>
        {% endif %}

        {% if idea is defined %}
        <article class="media content-section">
                <div class="media-body">
                        {% if idea.url %}
                                <a href="{{ idea.url }}"  target="_blank">
                                <h2 class="article-title m-2"> {{ idea.suggestion }} </h2> </a>
                        {% else  %}
                                <h2 class="article-title m-2"> {{ idea.suggestion }} </h2>
                        {% endif %}
                        {% if idea.why is not none %}
                        <h5 class="article-content m-3">{{ idea.why }}</h5>
                        {% endif %}
                        {% if idea.notes is not none %}
                        <h5 class="article-content m-2">{{ idea.notes }}</h5>
                        {% endif %}
                        {% if idea.url1 is not none %}
                                <span class="inline"> <p> Other relevant links: </p>  <a class="small" href="{{ idea.url1 }}">{{ idea.url1 }}</a>  
                        {% endif %}
                        {% if idea.url2 is not none %}
                                <a class="small" href="{{ idea.url2 }}">{{ idea.url2 }}</a> </span>
                        {% endif %} 
                        <p class="small"> Submitted by: {{ idea.name }}</p>
                        </div>
                </div>
        </article> 
        {% endif %}
</div>
{% endblock %}