{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
        <div class="center">
        <h1>Pandemic Toolkit</h1> 
        <h4> For those of us stuck at home, looking for things to do... </h4>
        </div> 

        <div class="flex-container">
        <div class="container-fluid"> 
        <form method="POST" action="{{ url_for('home') }}" >
                <fieldset class="form-group">

                <button name=cook type=form.cook  value=cook  class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/cooking.svg" />
                        <p> Cook </p>
                </button>

                <button name=do type=form.do value=do class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/craft.svg" />
                        <p> Do </p>
                </button>

                <button name=kids type=form.kids value=kids class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/blocks.svg" />
                        <p class="d-none d-sm-none d-md-none d-lg-none d-xl-block"> Do with Kids</p>
                        <p class="d-block d-sm-block d-md-block d-lg-block d-xl-none"> Kids </p>
                </button>

                <button name=watch type=form.watch value=watch class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/play.svg" />
                        <p> Watch </p>
                </button>

                <button name=read type=form.read value=read class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/read.svg" />
                        <p> Read </p>
                </button>

                <button name=listen type=form.listen value=listen class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/listen.svg" />
                        <p> Listen </p>
                </button>

                <button name=grateful type=form.grateful value=grateful class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/hand-heart.svg" />
                        <p> Grateful </p>
                </button>

                <button name=health type=form.health value=health class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/sun.svg" />
                        <p> Health </p>
                </button>

                <button name=donate type=form.donate value=donate class="form-group btn-outline flex-item">
                        <img class="btn-img" src="/static/img/donate2.svg" />
                        <p> Donate </p>
                </button>
                </fieldset>
        </form>
        </div> 

        {% if request.method == "GET" %}
        <div class="about">
                <h3>    This is a repository of over 400 things to do, cook, watch, listen to, read, and be grateful for during this unique time. 
                        Listeners of the <a target="_blank" href="https://www.wnycstudios.org/podcasts/deathsexmoney">Death Sex & Money podcast</a> 
                        collected and shared these
                        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1npe706TWTCzg9LzP_Jydso_w5rRbCxbwDQp-bUaB44E/">ideas and thoughts</a> 
                        on how we can pass the time, cope, and help others as we all learn to practice social distancing. Choose your category, and explore 
                        endlessly to find some comfort, or add a little novelty to your weekend.
                </h3>
        </div>
        {% endif %}

        {% if idea is defined %}
        <article class="media content-section">
                <div class="media-body">
                        {% if idea.url %}
                                <a href="{{ idea.url }}"  target="_blank">
                                <h2 class="article-title m-2"> {{ idea.suggestion }} </h2> </a>
                        {% else  %}
                                <h2 class="article-title m-2"> {{ idea.suggestion }} </h2>
                        {% endif %}
                        {% if idea.why is not none %}
                        <h5 class="article-content m-3">{{ idea.why }}</h5>
                        {% endif %}
                        {% if idea.notes is not none %}
                        <h5 class="article-content m-2">{{ idea.notes }}</h5>
                        {% endif %}
                        {% if idea.url1 is not none %}
                                <span class="inline"> <p> Other relevant links: </p>  <p><a class="small" href="{{ idea.url1 }}">{{ idea.url1 }}</a> </p>
                        {% endif %}
                        {% if idea.url2 is not none %}
                                <p><a class="small" href="{{ idea.url2 }}">{{ idea.url2 }}</a> </span></p>
                        {% endif %} 
                        <p class="small"> Submitted by: {{ idea.name }}</p>
                        </div>
                </div>
        </article> 
        {% endif %}
</div>
{% endblock %}