<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75027339-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-75027339-3');
    </script>
    
    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Custom Styles -->
    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:wght@900&family=Arima+Madurai:wght@900&family=Playfair+Display:wght@900&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pandemic Toolkit - For those of us stuck at home, looking for things to do. 
        This is a repository of over 400 things to do, cook, watch, listen to, read, and be grateful for during this unique time. 
        Listeners of the Death Sex & Money podcast collected and shared the ideas and thoughts on how we can pass the time, cope, 
        and help others as we all learn to practice social distancing. Choose your category, and explore endlessly to find some comfort, 
        or add a little novelty to your weekend.">
    <meta name="keywords" content="pandemic, pandemic toolkit, toolkit, things to do, something to do at home, kids, something to do with kids, things to be grateful for, things to cope, how to cope, things for our mental health, places to donaet during pandemic">
    <meta name="author" content="Mary Casserly">
    <title>Pandemic Toolkit</title>

</head>

<body>

    <nav class="navbar">
        <a href="{{ url_for('home') }}"> 
        <svg width="80" height="80" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 100 103" style="enable-background:new 0 0 100 103;" xml:space="preserve">
            <path d="M79.1,71.5l3.5,2l0.1-0.2c4.9-6.8,7.5-14.9,7.5-23.4c0.1-10.9-4-21.1-11.6-28.7c-7.6-7.7-17.7-12-28.5-12
        	C27.8,9.2,9.6,27.4,9.6,49.7S27.7,90.1,50,90.1c3.9,0,7.6-0.5,11.1-1.6l0.2-0.1l-0.8-4l-0.3,0.1c-3.4,1-6.9,1.6-10.4,1.6
        	c-20,0-36.3-16.3-36.3-36.3s16.3-36.3,36.3-36.3s36.3,16.3,36.3,36.3c0,7.7-2.4,15.1-7,21.5L79.1,71.5z" />
            <path d="M84.2,16C75.1,6.8,62.9,1.8,50.1,1.8c-4.5,0-8.8,0.6-12.9,1.8L37,3.7l0.7,3.7L38,7.3c4-1.1,8.1-1.7,12.1-1.7
        	c24.5,0,44.5,19.9,44.5,44.5s-20,44.4-44.5,44.4C25.5,94.4,5.6,74.4,5.6,49.9c0-9.3,2.8-18.1,8.2-25.7L14,24l-3.3-1.9l-0.1,0.2
        	C4.8,30.4,1.8,40,1.8,50.1c0,26.5,21.6,48.1,48.1,48.1c26.6,0,48.3-21.6,48.3-48.1C98.2,37.2,93.3,25.1,84.2,16z" />
            <path
                d="M49.8,27L23.1,44.9l2.3,3.4l5.3-3.6v24.6h38.6V44.9l5.2,3.4l2.3-3.4L49.8,27z M56.9,54.7c-1,1.9-6.4,6.9-6.8,7.4l0,0
        	c-0.6-0.6-5.8-5.5-6.8-7.3c0,0-2.7-3.3,0-5.8c0,0,3.9-3.3,6.8,1.2c2.9-4.5,6.8-1.2,6.8-1.2C59.6,51.4,56.9,54.7,56.9,54.7z" />
        </svg>
       <span class="brand d-block d-sm-none mx-auto"> Pandemic Toolkit </span>
    </a>  
    </nav>

    <main >
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-muted">
        <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1npe706TWTCzg9LzP_Jydso_w5rRbCxbwDQp-bUaB44E/">Ideas</a> 
        provided by listeners of the <a target="_blank" href="https://www.wnycstudios.org/podcasts/deathsexmoney"> Death Sex & Money</a> podcast.&nbsp;
        All icons are from <a href="https://thenounproject.com/" target="_blank">The Noun Project.</a>&nbsp;
        This website was created by <a target="_blank" href="https://twitter.com/Mary_Eleanor">Mary</a>. 
        </p>
    </footer>

</body>

</html>